.container {
  margin-top: 50px;
  margin-left: 100px;
}

h1 {
  color: LightSlateGray;
  font-size: 30px;
  font-family: sans-serif;
}

h2 {
  color: Black;
  font-size: 20px;
  font-family: sans-serif;
}

button {
  width: 150px;
  height: 20px;
  margin: 5px;
  background-color: #bfbfbf;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.taskBlock {
  width: 500px;
  height: 50px;
  background-color: WhiteSmoke;
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 12px;
}

#left {
  background-color: WhiteSmoke;
  width: 25px;
  height: 50px;
  float: left;
}

#middle {
  background-color: WhiteSmoke;
  width: 300px;
  height: 50px;
  float: left;
}

#right {
  background-color: WhiteSmoke;
  width: 50px;
  height: 50px;
  float: right;
}

#deleteTaskButton {
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: gray;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
