.container {
  margin-top: 20px;
  margin-left: 100px;
  width: 525px;
  padding: 20px;
}

.line {
    border-bottom: 1px solid black;
}

.taskDone {
  background-color: LightSteelBlue;
}

.taskUndone {
  background-color: WhiteSmoke;
}

.taskBlock {
  width: 500px;
  height: 40px;
  margin: 5px;
  padding: 5px;
}

h1 {
  color: Black;
  font-size: 20px;
  font-weight: lighter;
  font-family: sans-serif;
}

h2 {
  color: Black;
  font-size: 15px;
  font-weight: lighter;
  font-family: sans-serif;
}

button {
  width: 150px;
  height: 20px;
  margin: 5px;
  background-color: #444343;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

#newTaskDescription, #newListInput {
  width: 200px;
}

#lists {
  width: 205px;
}

#newTaskNotes {
  width: 360px;
}

#listSelection {
  padding-top: 25px;
  padding-bottom: 10px;
}

#left {
  width: 25px;
  height: 40px;
  text-align: center;
  float: left;
  /*line-height:40px;*/
}

#middle {
  width: 300px;
  height: 40px;
  float: left;
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: lighter;
  padding-top: 0px;
}

#right {
  text-align: right;
  width: 50px;
  height: 40px;
  float: right;
  line-height:38px;
}

#deleteTaskButton {
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: #444343;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

#information {
  font-family: sans-serif;
  font-size: 12px;
  padding-top: 0px;
  height: 40px;
}

.infoBoxes {
  width: 20px;
  height: 20px;
  margin: 5px;
  float: left;
  text-align: right;
}

.infoSpans {
  float: right;
  padding-left: 10px;
  font-weight: normal;
}

#space {
  width: 265px;
  float:left;
}

#blue, #gray{
  float:left;
  margin-left: 20px;
}

#doneColorDiv {
  background-color: LightSteelBlue;
}

#undoneColorDiv {
  background-color: WhiteSmoke;
}

/* Modal Window*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    font-weight: lighter;
    font-family: sans-serif;
}

/* The Close Button for modal window*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* End of Modal Window */
